#############
## Idea
#############
target/
.idea/
.idea
.repository/

/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*

# Ignore all files with extension .<extension>
**/*.jrtc
**/*.iml

/lib/

